# ===============================
# Ambientes virtuais
# ===============================
venv/
.env/

# ===============================
# Cache Python
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Dados e arquivos grandes
# ===============================
*.csv

# ===============================
# Modelos treinados (se quiser versionar, remova esta linha)
# ===============================
# *.pkl

# ===============================
# Streamlit
# ===============================
.streamlit/

# ===============================
# Sistema
# ===============================
.DS_Store
Thumbs.db

# Modelos treinados
models/*.pkl
